@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@keyframes auxiliaryIndeterminateTranslate {
  0% {
    transform: translateX(-54.888891%);
  }
  25% {
    transform: translateX(-17.236978%);
  }
  48.35% {
    transform: translateX(29.497274%);
  }
  100% {
    transform: translateX(105.388891%);
  }
}

@keyframes primaryIndeterminateScale {
  0% {
    transform: scaleX(0.08);
  }
  36.65% {
    transform: scaleX(0.08);
  }
  69.15% {
    transform: scaleX(0.661479);
  }
  100% {
    transform: scaleX(0.08);
  }
}

@keyframes primaryIndeterminateTranslate {
  0% {
    transform: translateX(-145.166611%);
  }
  20% {
    transform: translateX(-145.166611%);
  }
  59.15% {
    transform: translateX(-61.495191%);
  }
  100% {
    transform: translateX(55.44446%);
  }
}

@theme inline {
  --animate-primary-indeterminate-translate: primaryIndeterminateTranslate 2s infinite linear;
  --animate-auxiliary-indeterminate-translate: auxiliaryIndeterminateTranslate 2s infinite linear;
  --animate-primary-indeterminate-scale: primaryIndeterminateScale 2s infinite linear;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-win: var(--win);
  --color-loss: var(--loss);
  --font-sans: var(--font-sans);
  --font-heading: var(--font-heading);
  --font-mono: var(--font-mono);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.25 0.069 277);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.25 0.069 277);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.25 0.069 277);
  --primary: oklch(0.511 0.23 277);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.955 0.023 277);
  --secondary-foreground: oklch(0.25 0.115 277);
  --muted: oklch(0.97 0.005 277);
  --muted-foreground: oklch(0.52 0.046 277);
  --accent: oklch(0.965 0.007 277);
  --accent-foreground: oklch(0.25 0.069 277);
  --destructive: oklch(0.584 0.239 28.5);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.925 0.012 277);
  --input: oklch(0.925 0.012 277);
  --ring: oklch(0.511 0.23 277 / 0.9);
  --chart-1: oklch(0.25 0.23 277);
  --chart-2: oklch(0.35 0.23 277);
  --chart-3: oklch(0.55 0.22 277);
  --chart-4: oklch(0.75 0.18 277);
  --chart-5: oklch(0.85 0.13 277);
  --sidebar: oklch(0.984 0.004 277);
  --sidebar-foreground: oklch(0.25 0.069 277);
  --sidebar-primary: oklch(0.511 0.23 277);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.965 0.007 277);
  --sidebar-accent-foreground: oklch(0.25 0.069 277);
  --sidebar-border: oklch(0.925 0.012 277);
  --sidebar-ring: oklch(0.925 0.012 277);
  --win: oklch(0.585 0.233 277);
  --loss: oklch(0.705 0.213 47.6);
  --font-sans: var(--font-geist), sans-serif;
  --font-heading: var(--font-prata), serif;
  --radius: 0.75rem;
  --shadow-2xs: 0 1px 0 0 oklch(0.55 0.035 277 / 0.05);
  --shadow-xs: 0 1px 2px 0 oklch(0.55 0.035 277 / 0.05);
  --shadow-sm: 0 1px 3px 0 oklch(0.55 0.035 277 / 0.1), 0 1px 2px -1px oklch(0.55 0.035 277 / 0.1);
  --shadow-md: 0 4px 6px -1px oklch(0.55 0.035 277 / 0.1), 0 2px 4px -2px oklch(0.55 0.035 277 / 0.1);
  --shadow-lg: 0 10px 15px -3px oklch(0.55 0.035 277 / 0.1), 0 4px 6px -4px oklch(0.55 0.035 277 / 0.1);
  --shadow-xl: 0 20px 25px -5px oklch(0 0 0 / 0.1), 0 8px 10px -6px oklch(0.55 0.035 277 / 0.1);
  --shadow-2xl: 0 25px 50px -12px oklch(0.55 0.035 277 / 0.15);
}

.dark {
  --background: oklch(0.15 0.023 277);
  --foreground: oklch(0.98 0 0);
  --card: oklch(0.17 0.023 277);
  --card-foreground: oklch(0.98 0 0);
  --popover: oklch(0.18 0.023 277);
  --popover-foreground: oklch(0.98 0 0);
  --primary: oklch(0.511 0.23 277);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.591 0.23 277 / 0.25);
  --secondary-foreground: oklch(0.9 0.23 277);
  --muted: oklch(0.25 0.016 277);
  --muted-foreground: oklch(0.75 0.035 277);
  --accent: oklch(0.38 0.023 277);
  --accent-foreground: oklch(0.98 0 0);
  --destructive: oklch(0.69 0.2 23.9);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.29 0.016 277);
  --input: oklch(0.29 0.016 277);
  --ring: oklch(0.591 0.23 277);
  --chart-1: oklch(0.35 0.23 277);
  --chart-2: oklch(0.55 0.22 277);
  --chart-3: oklch(0.75 0.18 277);
  --chart-4: oklch(0.9 0.15 277);
  --chart-5: oklch(0.99 0.11 277);
  --sidebar: oklch(0.11 0.016 277);
  --sidebar-foreground: oklch(0.98 0 0);
  --sidebar-primary: oklch(1 0 0);
  --sidebar-primary-foreground: oklch(0.2 0.016 277);
  --sidebar-accent: oklch(0.24 0.016 277);
  --sidebar-accent-foreground: oklch(0.98 0 0);
  --sidebar-border: oklch(0.28 0.016 277);
  --sidebar-ring: oklch(0.591 0.23 277);
  --win: oklch(0.55 0.25 277);
  --loss: oklch(0.7 0.18 47.6);
  --shadow-2xs: 0 1px 3px 0 hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0 hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0 1px 3px 0 hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0 hsl(0 0% 0% / 0.25);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
